header {
  height: 100px;
  background-color: #f00;
}

header h1 {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
}

main {
  height: 100vh;
  background-color: #757755;
}

.movies-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: calc(20% - 30px);
  margin: 15px;
}

